<% layout("/layouts/boilerplate.ejs") %>
    <!-- scroll page  -->
    <div id="brand-intro" class="brand-intro">
        <img id="brand-bg" src="/image/edit.jpg" alt="Background">
        <h1 id="brand-title">Qalam</h1>
    </div>


    <div class="container">
        <h1 class="text-center mb-4">Curated By The House</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="https://bonanzasatrangi.com/cdn/shop/files/RITUA100ML-MULTI_e2f5268f-2601-411f-b34d-a1744961a591.jpg?v=1738845097&width=600"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">Men's Perfumes</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="https://bonanzasatrangi.com/cdn/shop/files/Lip-Paint_76deb862-3c93-4979-b183-cb643085b9cb.jpg?v=1738845036&width=600"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">Beauty Products</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="https://bonanzasatrangi.com/cdn/shop/files/0006_SPICA100ML-MULTId_a37ebb61-eb7e-46b2-b0cd-68f31937fa86.jpg?v=1738683037&width=600"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">Women's Perfumes</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <img src="https://bonanzasatrangi.com/cdn/shop/files/WU25SD2022_4.jpg?v=1739624121&width=600"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center">Women's Clothes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed laboriosam doloribus officia praesentium provident
    expedita nihil a labore, aliquam non unde quae quis, nulla dolores quam veritatis aut id animi enim. Aliquam id
    eveniet nihil ullam hic at incidunt ducimus dignissimos maxime quod et deserunt quo vero ad saepe culpa harum quam,
    obcaecati odio ex repellat assumenda ipsam cum ea. Saepe id, repellat reiciendis sit ea ullam nostrum possimus unde
    eaque voluptate quos! Voluptatum explicabo quo magnam, illum doloribus nulla, vel optio possimus suscipit temporibus
    dolorem! Voluptates accusantium exercitationem perspiciatis omnis delectus cumque, officia sapiente at beatae
    corporis fuga ullam, eaque sed iste illo mollitia officiis ex dolorem ipsum. Voluptatem qui dolore corrupti quis
    harum exercitationem odit eos, facere atque ipsa ipsam unde nostrum aliquam perferendis possimus repellendus magni
    molestias, minima neque officia alias ratione voluptatibus? Similique provident voluptatibus ea ipsa cupiditate sunt
    ut in esse vero, atque officia voluptas odio odit laborum quos. Consectetur rem, praesentium numquam reprehenderit
    nam ipsum sequi nulla aliquid maxime a dolore ex placeat, exercitationem explicabo minus amet, voluptatem incidunt
    mollitia. Consequuntur, alias suscipit reprehenderit eos rem iusto hic corporis laborum, ipsa obcaecati perferendis!
    Molestias voluptatibus nobis sunt molestiae maxime doloribus, ipsum enim, expedita, beatae quam earum soluta ab.
    Minus vitae sint rem atque earum voluptatum commodi sequi at laborum est quis, nobis aperiam, mollitia quibusdam
    ipsa. Ullam quaerat esse quis neque vitae hic impedit quos sint ipsam dicta minima voluptas dolorum ab, aspernatur
    temporibus magni laborum ducimus, veritatis iure dolorem error. Nesciunt cupiditate mollitia vitae suscipit amet sed
    asperiores, sint ex adipisci iusto autem, recusandae provident repudiandae eos eveniet excepturi voluptate, ratione
    voluptas doloribus nemo dolore itaque. Assumenda quam libero vitae a quo doloremque similique perferendis, illum
    ducimus rerum ipsam possimus alias hic sunt velit! Nisi, laudantium! Sapiente placeat molestias impedit consequuntur
    perferendis atque facere in id! Voluptas, sequi at vel assumenda eligendi nulla esse vero asperiores? At, veniam
    animi aliquid in, accusantium cupiditate assumenda sit magnam quo facere adipisci officiis quidem cum porro aut.
    Aspernatur repellendus modi accusantium. Illo nam ratione perferendis consectetur delectus repellat explicabo quos
    numquam vitae nihil? Nisi voluptatem possimus suscipit explicabo cumque! Voluptate, esse modi dolores labore officia
    possimus qui, ut culpa voluptatum adipisci quos maxime odit quia aliquam cumque excepturi? Ut deleniti culpa quam
    inventore in, nostrum dolor obcaecati. Necessitatibus, debitis corporis assumenda, quae asperiores veniam, tenetur
    expedita natus voluptate porro fugiat? Modi magnam amet alias quisquam labore explicabo facere, eius nesciunt
    facilis nulla eum fuga. Voluptas, quaerat blanditiis. Eius fugiat, repudiandae voluptatum perferendis accusantium
    tempore id eum eos! Corporis voluptate nostrum ex doloremque ad! In, temporibus assumenda, rem error tempore dolore
    optio, accusantium officia velit deleniti sunt consequatur. Totam minus, optio similique asperiores eligendi facilis
    libero molestias odit beatae sunt vel consectetur aperiam nostrum culpa repudiandae quae ex vitae eum deleniti
    labore, quis esse. Culpa officia, accusantium suscipit unde facere rerum non nemo error explicabo laborum iusto
    cupiditate atque, incidunt debitis esse maxime molestiae minima nesciunt dicta sed, et ut sapiente libero.
    Consectetur ipsa eveniet non eaque obcaecati illo suscipit, quidem necessitatibus tempora hic vel pariatur
    praesentium ipsum. Illo ipsa eum magnam quidem doloremque, nihil, facilis quasi tempora quisquam iure tenetur, nam
    amet fuga. Nulla culpa possimus tenetur, sapiente similique ullam hic molestiae eius. Sit quaerat natus, recusandae
    suscipit possimus eum similique architecto praesentium magnam, dolor tempora minima eaque autem maiores quasi
    aliquid officiis sint deserunt reprehenderit ipsum incidunt. Odio, nemo maxime? Porro, dolorum at. Incidunt repellat
    est odio totam unde illo maiores? Quod, dignissimos porro, enim ducimus ipsam libero nam natus quae repellat sunt
    ratione doloremque placeat quis earum optio laudantium a. Aut porro illo, maiores, nesciunt corrupti sed impedit
    vitae hic repellat consequatur alias! Ex rem doloremque ipsa iusto. Dolorum modi dolor doloremque quasi aspernatur
    numquam asperiores magni fuga quae nisi eius veniam ipsum quaerat suscipit esse, consectetur libero eos praesentium?
    Quas delectus obcaecati fuga a blanditiis, repudiandae expedita, at tempore, doloribus veniam quasi. Eaque corrupti
    unde saepe, veritatis sint a fugiat nostrum non nulla totam. Autem alias itaque illum fugiat eveniet nisi voluptates
    sed temporibus tempora, vitae quidem dolore consectetur earum neque cum quos a quibusdam iste nam voluptas. Sequi
    nihil tenetur in sed, doloremque totam voluptatibus voluptas quasi, corporis iusto est quibusdam reprehenderit
    exercitationem soluta consequuntur. Eius eaque consequuntur quo nostrum illo modi veniam, magnam excepturi rem
    itaque dolorem, repellat unde harum inventore impedit officia vel cumque ipsam tenetur blanditiis. Quae aperiam
    omnis quos error quaerat fugiat velit, iure ipsam inventore explicabo possimus reiciendis neque, eveniet sed optio,
    obcaecati blanditiis. In voluptate accusantium magni odio ducimus perspiciatis doloribus temporibus fugit? Neque
    quibusdam totam incidunt accusamus quo ea itaque ipsa maiores corporis quos ratione animi dicta corrupti repellat
    placeat ducimus, vero tempora unde perspiciatis quidem sunt voluptatum officia. Consequatur nisi quo distinctio at
    sunt vel ab ipsa odio aliquam, quidem minima nemo sit incidunt corrupti harum excepturi velit amet, ea aperiam nobis
    soluta qui repellat. Est sapiente modi, nostrum laudantium magnam ipsam minus deserunt, fugiat dolorem aperiam a
    itaque quae non dolor tenetur ullam nobis dolores. Facilis, rerum sit iste explicabo laboriosam sed nam neque
    deserunt? Dolor totam eum, autem facere nobis corrupti, dolores ea fugit modi error similique adipisci non porro
    nesciunt. Perspiciatis sit perferendis aspernatur sunt id dolores! Debitis veniam perferendis fuga at quas harum
    repellendus itaque consequuntur magni quia ipsam neque odio id veritatis doloribus illum, architecto sapiente sit
    commodi consectetur placeat molestiae optio. Ratione neque dolorem dolor ab impedit architecto sint et? Quas
    voluptatibus similique explicabo magni nemo obcaecati. Eum earum obcaecati, culpa inventore tempore quia iusto
    voluptates, ut corrupti dolore blanditiis facilis animi sint amet perferendis accusamus illum accusantium corporis
    vitae soluta aperiam dolorem, vero praesentium! Laborum iusto quas enim? Culpa veniam maiores tempore recusandae,
    beatae cum commodi corrupti sunt explicabo dolor iure optio perferendis, aliquam est libero eligendi mollitia labore
    asperiores? Ipsam quae architecto fuga, explicabo excepturi incidunt odit nemo harum totam, sed soluta ex, impedit
    possimus porro repudiandae ea aut commodi dolorum. Sint inventore debitis harum eaque ex. Magni qui quis
    consequuntur nam numquam corporis hic autem!