<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qalam</title>
</head>

<body>
    <h1>Qalam</h1>
    <a href="/qalam/unstitched">Unstitched</a>
</body>

</html>